{% extends 'admin/change_form.html' %}
{% load i18n static %}

{% block object-tools-items %}
  <style>
    .historylink {
      width: auto;
      height: auto;
    }

    .historylink.add-another {
      background: url({% static 'admin/img/icon-addlink.svg' %}) 0 1px no-repeat;
      padding-left: 16px;
      font-size: 12px;
    }
  </style>
  {{ block.super }}
  {% if original.pk %}
    <li>
      <a id="add_id_comment" class="add-related add-another historylink" href="/admin/ticket_tracker/comment/add/?_popup=1&content_type={{ opts.model_name }}&object_id={{ original.pk }}">
        {% trans 'Add comment' %}
      </a>
      {% if request.user in original.watched.all %}
        <a class="historylink" href="{% url 'admin:remove_ticket_from_watching' original.pk %}">
          {% trans 'Remove ticket from watching' %}
        </a>
      {% else %}
        <a class="historylink" href="{% url 'admin:add_ticket_for_watching' original.pk %}">
          {% trans 'Add for watching' %}
        </a>
      {% endif %}
    </li>
  {% endif %}
{% endblock %}

{% block after_related_objects %}
  {{ block.super }}
  {% if original.pk %}
    <fieldset class="module">
      <table>
        <tbody>
          <tr class="add-row">
          <td colspan="3">
            <a id="add_id_comment" class="add-related add-another historylink" href="/admin/ticket_tracker/comment/add/?_popup=1&content_type={{ opts.model_name }}&object_id={{ original.pk }}">
            {% trans 'Add comment' %}
          </a>
          </td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  {% endif %}
{% endblock %}
